<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Timefold presentation</title>
    <meta name="description" content="This slide deck explains Timefold: an open source constraint satisfaction solver in Java">
<!--    <link href="https://github.com/TimefoldAI/timefold-presentations" rel="canonical">-->

    <link rel="stylesheet" href="../src/web/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/web/reveal/css/reveal.css">
    <link rel="stylesheet" href="../src/web/reveal/css/theme/simple.css" id="theme">
    <script>
      if (window.location.search.match(/print-pdf/gi)) {
        document.write('<link rel="stylesheet" href="../src/web/reveal/css/print/pdf.css">');
      }
    </script>
    <link rel="stylesheet" href="../src/web/highlight/highlight.css">
    <link rel="stylesheet" href="../src/web/timefold-presentation.css">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
<div class="reveal">
    <div class="watermark watermark-left">
        <p>
            <img src="../src/web/social/twitter-logo.svg"/>
            @TimefoldAI @GeoffreyDeSmet
        </p>
    </div>
    <div class="slides">
